<form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col-md-3">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" type="text" maxlength="30">

            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width">
                <mat-label>Apellido</mat-label>
                <input matInput type="text" formControlName="apellido" maxlength="60">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="example-full-width">
                <mat-label>Teléfono</mat-label>
                <input matInput type="text" formControlName="telefono" maxlength="10" placeholder="2222222222">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <mat-form-field class="example-full-width">
                <mat-label>email</mat-label>
                <input matInput type="email" formControlName="email" placeholder="doe@mail.com">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field>
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <mat-card-actions>
            <button mat-raised-button class="pull-right" color="primary">Agregar</button>
        </mat-card-actions>
    </div>

</form>